

.about-container {
  padding: 50px 50px 100px 50px;
  .section-header {
    margin: 25px 0 50px 0;
    text-align: center;
    color: $mainColor;
  }
  .section-container {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(1, minmax(250px, 1fr));
    text-align: center;
    .section-content {
      @include flex(center, center, column, nowrap);
      .content {
        line-height: 1.2;
      }
    }
    .section-image {
      &.user {
        @include background-image('/static/images/about-users.jpg', cover, center);
      }
      &.restaurant {
        @include background-image('/static/images/about-restaurant.jpg', cover, center);
      }
      &.unwind {
        @include background-image('/static/images/about-unwind.jpg', cover, center);
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .about-container {
    padding-left: 20px!important;
    padding-right: 20px!important;
    .section-container {
      grid-template-columns: repeat(1, minmax(auto, 1fr));
      grid-template-rows: repeat(2, minmax(250px, 1fr));
      .section-content {
        order: 2;
      }
      .section-image {
        order: 1;
      }
    }
  }
}
