@import '../variables.scss';

.about-container {
  padding: 20px 50px 100px 50px;
  .section-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(1, minmax(250px, 1fr));
    text-align: center;
    .section-content {
      @include flex(center, center, column, nowrap);
      .content {
        line-height: 1.2;
      }
    }
  }
}