
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.custom-accordion {
  padding: 0;
  animation: fadeIn 1s;
  p {
    margin: 5px 0 0 0;
  }
  .accordion-toggle {
    color: #FFF;
    background-color: $tertiaryColor;
    border: none;
    outline: none;
    font-weight: bold;
    background-image: linear-gradient(to bottom left, $tertiaryColor, $mainColor);
    width: 100%;
    height: 50px;
    padding: 5px;
    @include flex(space-between, center, row, wrap);
    .icons-container {
      @include flex(flex-end, center, row, wrap);
      width: 50%;
      .distance-from {
        font-size: $subFontSize;
        font-weight: normal;
        margin-right: 20px;
      }
      .icon {
        border-radius: 12px;
        width: 50px;
        height: 27px;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        &.food {
          background-color: #994B00;
          color: #FFF;
        }
        &.drinks {
          background-color: #CC004B;
          color: #FFF;
        }
      }
      .icon-content {
        font-size: $subFontSize;
        font-weight: normal;
      }
    }
  }


  .accordion-body {
    border: 1px solid $tertiaryColor;
    background-color: #FFF;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    &.open {
      padding: 20px 20px 40px 20px;
      max-height: 1000px;
      height: fit-content;
    }
  }
  .establishment-content {
    height: 100%;
    @include flex(space-between, center, row, wrap);
  }
}

@media only screen and (max-width: 768px) {
  .list-container {
    padding: 0;
    .card-header {
      flex-direction: column;
      align-items: flex-start;
      .icons-container {
        width: 100%;
      }
    }
    .establishment-content {
      flex-direction: column;
      .inner-container {
        padding: 0!important;
        margin-bottom: 25px;
      }
    }
  }
}