.add-establishment-container {
  padding: 50px 50px 100px 50px;
  .form-section {
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 1fr));
    grid-template-rows: repeat(auto, minmax(auto, 1fr));
    border: 2px solid $secondaryColor;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    background-color: rgba(255, 153, 20, 0.3);
    .form-subgroup {
      display: grid;
      grid-template-columns: repeat(1, minmax(auto, 1fr));
      grid-template-rows: repeat(2, minmax(auto, max-content));
      grid-gap: 7px;
      padding: 10px 0;
      .form-input {
        box-sizing: border-box;
        border-radius: 8px;
        height: 37px;
        border: 2px solid $tertiaryColor;
        padding: 5px 10px;;
      }
      textarea.form-input {
        height: 70px;
        width: 100%;
        resize: none;
      }
    }
    .inner-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      grid-template-rows: repeat(auto, minmax(auto, 1fr));
      grid-gap: 15px;
    }
    .weekday-selection {
      display: grid;
      grid-template-columns: repeat(7, minmax(auto, 1fr));
      grid-template-rows: repeat(1, minmax(auto, 1fr));
      grid-gap: 15px;
      .form-subgroup {
        justify-items: center;
        grid-template-rows: repeat(1, minmax(auto, 1fr));
      }
    }
    .menu-item-form {
      display: grid;
      grid-template-columns: repeat(1, minmax(100%, 1fr));
      grid-template-rows: repeat(auto, minmax(auto, 1fr));
      position: relative;
      .inner-container {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
      }
    }
    &.time-inputs {
      .time-input-container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns:repeat(3, minmax(auto, 1fr));
        grid-template-rows:repeat(1, minmax(auto, 1fr));
        position: relative;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .add-establishment-container {
    .form-section {
      .menu-item-form {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        .inner-container {
          grid-template-columns: repeat(1, minmax(auto, 1fr));
          grid-template-rows: repeat(3, minmax(auto, 1fr));
        }
      }
      &.time-inputs {
        .time-input-container {
          grid-template-columns:repeat(1, minmax(auto, 1fr));
          grid-template-rows:repeat(3, minmax(auto, 1fr));
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .add-establishment-container {
    padding: 50px 20px 100px 20px;
    .form-section {
      .inner-container {
        grid-template-columns: repeat(1, minmax(auto, 1fr));
        grid-template-rows: repeat(auto, minmax(auto, 1fr));
      }
      .weekday-selection {
        grid-template-columns: repeat(4, minmax(auto, 1fr));
        grid-template-rows: repeat(auto, minmax(auto, 1fr));
        grid-gap: 0;
      }
    }
  }
}