

.voucher-container {
  width: 100%;
  height: 100%;
  @include flex(center, center, column, wrap);
  .subheader {
    opacity: 0.8;
    text-align: center;
    margin: 0;
  }
  .get-voucher {
    height: 100px;
    width: 75%;
    margin-top: 20px;
    background-color: forestgreen;
    font-size: $subheaderFontSize;  
    color: #FFF;
    border-radius: 12px;
    border: none;
  }
  .redeem-voucher {
    height: 100px;
    width: 75%;
    margin-top: 20px;
    background-color: #ff4823;
    font-size: $subheaderFontSize;  
    color: #FFF;
    border-radius: 12px;
    border: none;
  }
}