@import '../variables.scss';

.tabs-container {
  width: 100%;
  .weekday-tabs {
    margin: 0;
    .day-tab {
      width: calc(100% / 7);
      .nav-link {
        @include flex(center, center, row, wrap);
        color: #FFF;
        margin: 0!important;
        width: 100%!important;  
        border: 2px solid $secondaryColor;
        background-color: $backgroundColor;
        &.active, &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
  .tab-content {
    padding: 15px;
    border: 2px solid $secondaryColor;
    width: calc(100% + 2px)!important;
    .subheader {
      font-size: $subheaderFontSize;
      font-weight: bold;
      opacity: 0.8;
      width: 100%;
      border-bottom: 2px solid rgba(0, 0, 0, 0.8);
      margin-bottom: 10px;
    }
    .food, .drink {
      margin-top: 20px;
      .menu-item {
        @include flex(space-between, center, row, wrap);
      }
    }
  }
}