
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.list-container {
  padding: 50px 50px 100px 50px;
  animation: fadeIn 1s;
  p {
    margin: 5px 0 0 0;
  }
  .establishment-content {
    height: 100%;
    @include flex(space-between, center, row, wrap);
  }
}

@media only screen and (max-width: 768px) {
  .list-container {
    padding: 0;

  }
}