.footer-container {
  width: 100%;
  padding: 20px 0;
  background-color: $backgroundColor;
  .inner-container {
    @include flex(space-between, center, row, wrap);
  }
  .footer-col {
    flex: 1 1 auto;
    @include flex(center, center, column, nowrap);
    &:first-child {
      align-self: flex-start;
    }

    .footer-header {
      font-size: $mainFontSize;
      margin-top: 0;
      font-weight: bold;
    }
    .footer-link {
      font-size: $subFontSize;
      margin: 2px 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and(max-width: 568px) {
  .footer-container {
    .footer-col {
      flex: 1 1 50%;
      &:first-child {
        flex: 1 1 100%;
        margin-bottom: 20px;
      }
    }
  }
}