@import '../variables.scss';

.section-header {
  text-align: center;
  color: $mainColor;
}
.section-subheader {
  font-size: $subheaderFontSize;
  color: $tertiaryColor;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}
.cta-container {
  @include flex(space-around, center, row, wrap);
  height: 100%;
  padding: 20px 30px;
  .cta-section {
    border-radius: 12px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    @include flex(space-evenly, center, column, center);
    text-align: center;
    h1 {
      font-size: $subheaderFontSize;
    }
    p {
      font-size: $mainFontSize;
      opacity: 0.7;
    }
  }
}

@media only screen and (max-width: 768px) {
  .cta-container {
    flex-flow: column wrap;
    .cta-section {
      width: 100%;
      height: 170px;
      margin-bottom: 20px;
    }
  }
}