
.home-container {
  padding: 0 0 0 0;
  height: 100%;

  .home-listings {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(1, minmax(auto, 1fr));
    overflow: hidden;
    .list-container {
      padding: 0;
      grid-column: span 5;
      height: 500px;
      overflow-y: auto;
      background-color: $mainColor;
    }
    .map-container {
      grid-column: span 7;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    .home-listings {
      display: grid;
      grid-template-columns: repeat(1, minmax(auto, 1fr));
      grid-template-rows: repeat(1, minmax(auto, 1fr));
      overflow: hidden;
      .list-container {
        grid-column: auto;
        height: fit-content;
        overflow-y: hidden;
        order: 2;
      }
      .map-container {
        grid-column: auto;
        order: 1;
        height: 250px!important;
        overflow: hidden;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .home-container {
  }
}
