@keyframes fadeOut {
  0%   {opacity: 1;}
  25%  {opacity: 1;}
  50%  {opacity: 0.5;}
  100% {opacity: 0;}
}

.loading-container {
  min-height: calc(100vh - 215px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  opacity: 0;
  animation: fadeOut 1s;
  img {
    height: 50px;
  }
  .subheader {
    margin-bottom: 0;
  }
  .spinner-grow {
    height: 100px;
    width: 100px;
  }
}