.navigation-bar {
  height: 100px;
  width: 100%;
  background-color: #EFA700;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-between;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}
.branding {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.brand-logo {
  background-image: url('#');
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 75px;
  width: 75px;
  margin-right: 25px;
  background-color: red;
  font-size: 24px;
}
.hapyhr {
  color: #DB6218;
  margin: 0;
  font-size: 32px!important;
  font-weight: 600;
}
.navigation-menu {
  padding-right: 20px;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
}
.nav-toggler {
  padding-right: 20px;
  cursor: pointer;
  z-index: 500;
}
a, a.nav-option {
  margin: 0 0 0 20px!important;
  padding: 0!important;
  width: 100px!important;
  height: 27px!important;
  box-sizing: content-box!important;
  line-height: 1!important;
  border: 2px solid #DB6218;
  background-color: #EF7F00;
  color: #FFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  &:hover {
    text-decoration: none;
    color: #FFF;
  }
}
a:hover {
  background-color: #DB6218;
  color: #FFF;
  transition: 0.2s all;
}

@media only screen and (max-width: 768px) {
  .navigation-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 70px 0 0 0;
    background-color: #FFF;
    box-shadow: -5px 0 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 100;
    &.toggled {
      display: block!important;
    }
    a.nav-option {
      margin: 10px 0!important;
    }
  }
}